<mat-form-field>
  <mat-label>Nome risorante</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.task.title" />
</mat-form-field>
<mat-form-field>
  <mat-label>Indirizzo</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.task.address" />
</mat-form-field>
<mat-form-field>
  <mat-label>Descrizione</mat-label>
  <textarea
    matInput
    cdkFocusInitial
    [(ngModel)]="data.task.description"
  ></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>Prezzo</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.task.price" />
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
  <button mat-button (click)="cancel()">Close</button>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.task, delete: true }"
  >
  <mat-icon>delete</mat-icon>
  </button>
</div>
